@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

a {
  @apply text-brand-400 hover:text-brand-300;
}

